.bg-white     { background-color: $color-white;          }
.bg-blue      { background-color: $color-blue-primary;   }
.bg-lightblue { background-color: $color-blue-10;        }
.bg-color     { background-color: $background-color;     }
.bg-grey      { background-color: $color-grey-primary;   }
.bg-lightgrey { background-color: $color-grey-10;        }
.bg-green     { background-color: $color-green-primary;  }
.bg-lightgreen{ background-color: $color-green-10;  }
.bg-yellow    { background-color: $color-yellow-primary; }
.bg-red       { background-color: $color-red-primary;    }
