.va-m  { vertical-align: middle;      }
.va-s  { vertical-align: sub;         }
.va-tt { vertical-align: text-top;    }
.va-tb { vertical-align: text-bottom; }
.va-t { vertical-align:  top;         }
